* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: steelblue;
}


/*Desktop screens at 1080p*/

@media only screen and (min-width: 1920px) {

.entire-display-area {
    margin-top: 10%;
    margin-left: 20%;
    display: flex;
}

.play-area-display-container {
    display: flex;
}

.buildings-display-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}


.mode-selector-container {
    display: flex;
    justify-content: center;
}

#increment-button {
    width: 450px;
    height: 450px;
    background-color: green;
    text-align: center;
    margin-right: 10px;
}

.building {
    width: 225px;
    height: 150px;
    background-color: rgb(197, 185, 17);
    text-align: center;
    margin-right: 10px;
    flex: 1 1 30%;
}

.mode-selector-button {
    width: 225px;
    height: 150px;
    background-color: darkslateblue;
    text-align: center;
    flex: 1 1 30%;
}
}

/* Mobile screens between 350 and 500 px */

@media only screen and (min-width: 350px) and (max-width: 500px) {
    .entire-display-area {
        margin-top: 10%;
        margin-left: 15%;
        display: flex;
    }
    
    .play-area-display-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .buildings-display-container {
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .mode-selector-container {
        display: flex;
 
    }
    
    #increment-button {
        width: 20em;
        height: 20em;
        background-color: green;
        text-align: center;
    }
    
    .building {
        width: 10em;
        height: 10em;
        background-color: rgb(197, 185, 17);
        text-align: center;
        margin-right: 2px;
  }
    
    .mode-selector-button {
        width: 20em;
        height: 20em;
        background-color: darkslateblue;
        text-align: center;


    }

}

